body {
  box-sizing: border-box;
}

.movie-list {
  display: flex;
  flex-wrap: wrap;
}

.movie {
  background-color: #373b69;
  border-radius: 3px;
  position: relative;
  box-shadow: 0 4px 5px rgba(0, 0, 0, 0.2);
  overflow: hidden;
  margin: 1.5rem;
  width: 300px;
}

.movie img {
  width: 100%;
}

.movie-info {
  color: #eee;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.5rem 1rem 1rem;
  letter-spacing: 0.5px;
}

.movie-info h3 {
  margin: 0;
}

.movie-info span {
  background-color: #22254b;
  border-radius: 3px;
  padding: 0.25rem 0.5rem;
}
.color-green {
  color: rgb(30, 214, 30);
}
.color-orange {
  color: orange;
}
.color-red {
  color: red;
}

.overview{
  background-color: #fff;
  padding: 2rem;
  position: absolute;
  max-height: 100%;
  overflow: auto;
  left: 0;
  bottom:0;
  right: 0;
  transform: translateY(100%);
  transition: transform 0.3s ease-in;
}

.overview h3{
  margin-top: 0;
}

.movie:hover .overview {
  transform: translateY(0);
}

